*{margin:0; padding:0;}

#body{
width:800px;
margin-left: auto;
margin-right: auto;
}

/* 背景 */
body{

background-image: url("water.jpg");
}

/* メニューバー */
.menubar {
text-align: right;
background-color: #e0ffff;
}

/* ヘッダーとフッター */
#my_header{
width:100%;
border-bottom:0px solid #fff;
background-color:#00bfff;
height:50px;
}
#my_footer{
width:100%;
clear:both;
background-color:#48d1cc;
border-top:0px solid #fff;
text-align:center;
padding:1em 0;
}

/* 右側 */
#my_navigation {
background-color:#E6FFE9;
float:right;
width:300px;
padding-right:20px;
}

/* 本文 */
#my_contents {
background-color:#E6FFE9;
margin-right:320px;
}
#mynavi{padding:1em 0 2em 1em;border:0px solid #fff;}
#mymain{padding:1em;border-left:0px solid #fff;}

/* タイトル */
h1{
padding-left:20px;
}

h2{
border-bottom: 1px solid;
background-color: #FFFF88;
}

.contents{
margin:1em 0;
border: 1px solid;
padding: 10px;
background-color:#FFF;
}

li {list-style:decimal;
margin-left: 30px;
}

img{
margin:10px;
}

.item{
padding-top:10px;
}

.itemname{
border-bottom: 1px dashed;
}

/************* #table styles ***************/
table {
	border-width: 0px;
	margin: 10px;
}

table tr {
	font-size: 10pt;
}

table thead tr td {
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
}

table tr th {
	font-weight: bold;
	padding-top: 10px;
	/*text-align: center;*/
	border: 0px solid black;
}

table.result tr td {
	border-bottom: 1px solid #000000;
	padding: 5px;
}
table.result tr.rowLink:hover {
	cursor: pointer;
	background-color: #FFE4E1;
}

/*若狭追加*/

/*商品詳細用*/
#my_contents_itemstatus {
background-color:#ffffff;
margin-right:0px;
}

.itemname1{
border-bottom: 1px dashed;
font-size:xx-large;
}

.contentsitemstatus{
margin:1em 0;
border: 1px solid;
padding: 10px;
}

/*浅見追加　レビュー投稿*/
.review_contents {
background-color:#ffffff;
}

/* 木戸追加 */

#one_column{	
background-color:#ffffff;	
width: 800px;	
}

/* リンク */
a {
color: #0000ff;
text-decoration: none;
}

a:hover {
color: #0000ff;
text-decoration: underline;
}

.form {
width: 500px;
}

.long {
height: 50px;
}

.short {
height: 20px;
}

/* 木戸追加0611-2 */
html {
  overflow-y:scroll;
}

.logo img {
margin: 0;
align: left;
}